global:
  scrape_interval: 5s    # how often to collect metrics

scrape_configs:
  - job_name: "spring-app"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["host.docker.internal:8080"]
        labels:
          application: "usermicroservices"
